.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.title {
    font-size: 25px;
    font-weight: 600;
}

.date {
    font-size: 19px;
}
.message {
    font-size: 21px;
    color: green;
}